<h1><%= @pirate.name %></h1>
<h1><%= @pirate.weight %></h1>
<h1><%= @pirate.height %></h1>


<h2><%= @ship_one.name %></h2>
<h2><%= @ship_one.type %></h2>
<h2><%= @ship_one.booty %></h2>


<h2><%= @ship_two.name %></h2>
<h2><%= @ship_two.type %></h2>
<h2><%= @ship_two.booty %></h2>
